<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Ro Sync needs access to Roblox projects you choose on your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Ro Sync needs access to Roblox projects you choose in Documents.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Ro Sync needs access to Roblox projects you choose in Downloads.</string>
</dict>
</plist>
